@font-face {
    font-family: 'Figtree';
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
}

:root {
    --m-color: hsl(47, 88%, 63%);
}

body {
    background-color: var(--m-color);
    font-family: 'Figtree';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 384px;
    height: 522px;
    background-color: #fff;
    padding: 1.5em;
    border-radius: 20px;
    border: 1px solid #000;
    box-shadow: 8px 8px 0 0 #000;
}


.card .decorative {
    height: 200px;
    background-image: var(--path);
    border-radius: inherit;
}

.card b.keywords {
    background-color: var(--m-color);
    margin-top: 1em;
    display: inline-block;
    padding: 7px;
    border-radius: 3px;
}

h1 {
    font-size: clamp(20px, 2vw, 24px);
}
h1:hover {
    color: var(--m-color);
    cursor: pointer;
}
h1 + p {
    opacity: 0.75;
    line-height: 1.5;
}

.avatar {
    display: flex;
    align-items: center;
    gap: 1em;
}
.avatar img {
    width: 32px;
}

/* meida-query */
@media (max-width: 480px) {
    .card {
        width: 327px;
    }
}